# Workflow for running tests
#
# Author: Tomas Dacik (xdacik00@fit.vutbr.cz), 2022

name: tests

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # based on https://github.com/ocaml/setup-ocaml
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "5.2"

      - name: Install dependencies
        run: opam install --deps-only -y .

      - name: Build Astral
        run: opam exec -- dune build

      - name: Run unit tests
        run: sh tests/run.sh

      - name: Run regression tests
        run: python3 scripts/run_tests.py
